<div class="container" align="center">

    <div class="col-sm justify-content-center form-inline">
      <div class="col-lg-12">
          <input class="form-control mr-sm-2" id="codigo" type="text" placeholder="Código" [(ngModel)]="txtBuscar">
          <button class="btn btn-outline-dark" type="button" (click)="buscarOrden()">Buscar</button>
          <button class="btn btn-outline-dark" type="button" (click)="limpiarBusqueda()">Limpiar</button>
      </div>
    </div>

    <div *ngIf="getOrden(); then hayOrden else noHayOrden">Esto se ignora!</div>
    <ng-template #hayOrden>
      <div class="col-md-8 justify-content-center my-4" id="tablaOrden">
        <table class="table table-striped m-2">
          <tbody>
            <h4 class="row">Orden de Servicio:</h4>
            <tr>
              <td class="td_header" width="33%">Código:</td>
              <td width="25%" id="td_codigo">{{getOrden().codigo}}</td>
              <td class="td_header" width="25%">Fecha Alta:</td>
              <td width="25%" id="td_fecha">{{getFecha()}}</td>
            </tr>
            <tr>
              <td class="td_header"><b>Total:</b></td>
              <td id="td_total"><b>$ {{getOrden().total}}</b></td>
              <td class="td_header">Estado:</td>
              <td id="td_total">{{getOrden().estado?.nombre}}</td>
            </tr>
          </tbody>
          <tbody>
            <h4 class="row">Contacto:</h4>
            <div *ngIf="getOrden().razonSocialTitular; then razonSocial else nombreApellido">Esto se ignora!</div>
            <ng-template #razonSocial>
              <tr>
                <td class="td_header">Razón Social:</td>
                <td id="td_razonSocial">{{getOrden().razonSocialTitular}}</td>
                <td class="td_header">Teléfono:</td>
                <td id="td_telRSocial">{{getOrden().telefonoTitular}}</td>
              </tr>
            </ng-template>
            <ng-template #nombreApellido>
              <tr>
                <td class="td_header">Apellido, Nombre:</td>
                <td id="td_titular">{{getOrden().apellidoTitular}},&nbsp;{{getOrden().nombreTitular}}</td>
                <td class="td_header">Teléfono:</td>
                <td id="td_telTitular">{{getOrden().telefonoTitular}}</td>
              </tr>
            </ng-template>
            <tr>
              <td class="td_header">Chofer:</td>
              <td id="td_chofer">{{getOrden().apellidoChofer}},&nbsp;{{getOrden().nombreChofer}}</td>
              <td class="td_header">Teléfono:</td>
              <td id="td_telChofer">{{getOrden().telefonoChofer}}</td>
            </tr>
          </tbody>
          <tbody>
            <h4 class="row">Datos Vehículo:</h4>
            <tr>
              <td class="td_header">DOMINIO</td>
              <td id="td_dominio">{{getOrden().vehiculo.dominio}}</td>
              <td class="td_dominio"></td>
              <td id="td_dominio"></td>
            </tr>
            <tr>
              <td class="td_header">Marca:</td>
              <td id="td_dominio">{{getOrden().vehiculo.marca?.nombre}}</td>
              <td class="td_header">Modelo:</td>
              <td id="td_marca">{{getOrden().vehiculo.modelo}}</td>
            </tr>
            <tr>
              <td class="td_header">Chasis:</td>
              <td id="td_modelo">{{getOrden().vehiculo.chasis}}</td>
              <td class="td_header">Color:</td>
              <td id="td_color">{{getOrden().vehiculo.color}}</td>
            </tr>
            <tr>
              <td class="td_header">Kilometraje:</td>
              <td id="td_kms">{{getOrden().kilometrajeActual}}</td>
              <td class="td_header">Nivel Combustible:</td>
              <td id="td_kms">{{getKilometrajeActual()}}</td>
            </tr>
          </tbody>
          <tbody>
            <h4 class="row">Detalle Orden Servicio:</h4>
            <tr>
              <td class="td_header">Recepción Vehículo</td>
              <td class="td_header">Fecha y Hora:</td>
              <td id="td_fechaRecepr">{{getFechaRecepcion()}}</td>
              <td id="td_hsRecepr">{{getOrden().horaRecepcion}}</td>
            </tr>
            <tr>
              <td class="td_header">Motivo de Visita:</td>
              <td id="td_motivo" style="text-transform:capitalize">{{getOrden().motivoVisita}}</td>
            </tr>
            <tr *ngFor="let d of getOrden().detalle; let indice = index">
              <td class="td_header">Detalle:</td>
              <td id="td_descripcion" style="text-transform:capitalize">{{getOrden().detalle[indice].descripcion}}</td>
              <td class="td_header">Subtotal:</td>
              <td id="td_subtotal">$ {{getOrden().detalle[indice].subtotal}}</td>
            </tr>
          </tbody>
        </table>
        <div class="col-md-8 btn-group justify-content-center mt-4">
          <button class="btn btn-outline-warning col-3" type="button" [disabled]="modificable()" (click)="modificarOrden(getOrden().codigo)">Modificar Orden</button>
          <button class="btn btn-outline-info col-3" type="button" [disabled]="noCerrable()" (click)="cerrarOrden()">Cerrar Orden</button>
          <button class="btn btn-outline-success col-3" type="button" [disabled]="noAbonable()" (click)="abonarOrden()">Abonar Orden</button>
          <button class="btn btn-outline-danger col-3" type="button" [disabled]="noAnulable()" (click)="anularOrden()">Anular Orden</button>
        </div>
        <div class="col-md-6 btn-group justify-content-center mt-2 mb-4">
          <button class="btn btn-outline-primary col-6" type="button" (click)="descargarOS()">Descargar Orden</button>
          <button class="btn btn-outline-dark col-6" type="button" routerLink="/ordenes-servicios" >Ir a Ordenes de Servicios</button>
        </div>
      </div>
    </ng-template>

      <ng-template #noHayOrden>
        <p>INGRESE UN CÓDIGO DE ORDEN DE SERVICIO PARA COMENZAR</p>
        <div class="col-sm" align="center">
          <button type="button" class="btn btn-outline-dark col-4 my-1" routerLink="/ordenes-servicios" >Ir a Órdenes de Servicios</button>
      </div>
      </ng-template>

  </div>
