

#total{
    right: 0pt;
}
.btn-outline-warning:hover{
    color: white !important;
}

fieldset > div {
  max-width: 100% !important;
}

fieldset > .row {
  margin-left: 0 !important;
  margin-right: 0 !important;
  flex-wrap: nowrap !important;
  gap: .5rem;
}
.row > div {
  padding-left: .5rem;
  padding-right: .5rem;
}

.tituloInput{
  text-align: left !important;
  justify-self: left !important;
}

#total{
  right: 0pt;;
}
/*Encabezado. Búsqueda, botones superiores, fecha, n° de OS y estado*/
#header {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

#header__div-busqueda,#header__div-newVehicle,#header__div-datos{
  flex-grow: 1;
  flex-shrink: 2;
  flex-basis: 30%;
  max-width: 100% !important;
}

#header__div-busqueda {
  flex-grow: 2;
}

#header__div-buttons > button {
  max-width: 33%;
}
#header__div-datos{
  flex-basis: 40%;
  flex-grow: 4;
  margin-left: .5rem;
  margin-right: .5rem;
}
#header__div-datos > div {
  max-width: 33%;
  width: 33%;
  padding: .5rem;
}
/*Datos del cliente y Chofer*/


#content__datosPropietario {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
  justify-content: space-around !important;
}

#content__datosPropietario-fieldset-Radio {
  grid-column: 3 / span 4;
  text-align: center;
}

#content__datosPropietario-fieldset-razonS {
  grid-column: 1 / span 3;
  grid-row: 1;
}
#content__datosPropietario-fieldset-nombreA  {
  grid-column: 1 / span 5;
  grid-row: 1;
}

#content__datosPropietario-telefono {
  grid-column: 6 / span 3;
  grid-row: 1;
  max-width: 100% !important;
}

#content__datosPropietario-fieldset-nombreA_apellido, #content__datosPropietario-fieldset-nombreA_nombre{ width: 100%; }

#form__div-datosChofer {
  display: flex;
  flex-basis: 33%;
  justify-content: space-around;
  padding: .5rem;
}
/*Datos del vehículo*/

#content__datosVehiculo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-content: space-around !important;
  grid-gap: .75rem;
}

#form__div-dominio{
  grid-column: 2;
  grid-row: 1;
  width: 100%;
  text-align: center;
}

.input-dominio {
  grid-column: 4 / span 2;
  text-align: center;
  text-transform:uppercase;
}

#form__div-marca{ grid-column: 1; grid-row: 2; width: 100%;}
#form__div-modelo{ grid-column: 2; grid-row: 2; width: 100%;}
#form__div-anio{ grid-column: 3; grid-row: 2; width: 100%;}
#form__div-chasis{ grid-column: 1; grid-row: 3; width: 100%;}
#form__div-kms{ grid-column: 2; grid-row: 3; width: 100%;}
#form__div-color{ grid-column: 3; grid-row: 3; width: 100%;}
#form__div-fechaRecepcion{ grid-column: 2; grid-row: 4; width: 100%;}
#form__div-hsRecepcion{ grid-column: 3; grid-row: 4; width: 100%;}
#form__div-combustible{
  grid-column: 1;
  grid-row: 4;
  width: 100%;
  text-align: center;
}
#form__div-combustible_divRadio > div {
  margin-bottom: 0 !important;
}

/*Datos del trabajo a realizar*/
#form__div-motivos {
  display: flex;
  justify-content: space-around;
}

#form__div-motivos > label {
  margin-left: 1.5rem;
}

#motivo {
  resize: none;
  max-width: 90%;
  flex-grow: 3;
}

#form__div-detalles {
  display: grid;
  grid-template-columns: 85% 7.5%;
  grid-auto-flow: row;
  justify-content: center;
}

#form__div-detalles_items{
  grid-column: 1;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: initial;
  max-width: 100% !important;
}

#form__div-detalles_items-job {width: 85%; max-width: 85%}
#form__div-detalles_items-divSubtotal{  max-width: 20%; width: 20% !important;}
#form__div-detalles_items-divMinus{  max-width: 10%;width: 10% !important;}
#form__div-detalles_items-divMinus-btnMinus{
  margin-right: auto;
  margin-left: auto;
  font-weight: bold;
  width:auto;
  height: 75%;
  text-align: center;
}

#form__div-detalles_items-divMinus{
  display: table-cell;
  vertical-align: middle;
  text-align: end;
}

#form__div-detalles_btnPlus{
  grid-column: 2;
  justify-content: center;
  max-width: 100% !important;
  align-content: center;
}

#btnPlusJob{
  font-weight: bold;
  width: 100% !important;
  height: 75%;
  position: relative;
  text-align: center;
}

/*Botones*/

#form__div-buttons {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: .5rem;
  padding: .5rem;
  padding-bottom: 1.5rem;
}
#form__div-buttons > button { max-width: 100%;  }
#btn-confirm{grid-column: 2 / span 2;}
#btn-back{grid-column: 4 / span 2;}

/*Responsive*/
@media screen and (max-width: 1100px){
  #header > div {
    padding: 0;
  }
  #header__div-busqueda > div {
    padding: 0;
  }
  .btn-busqueda {
    margin: 0 0.5rem;
    height: 1.5rem;
    max-width: 1.5rem !important;
    font-size: 0;
    border: none;
    object-fit: cover;
    transition: transform;
  }

  .btn-busqueda:hover {
    transform: scale(1.25,1.25);
  }

  #btn-buscar{
      background: url(../../../assets/iconos/utilizados/search.svg);
  }
  #dominio{
    width: 100%;
  }
}

@media screen and (max-width: 810px){
  #header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    flex-wrap: nowrap;
  }

  #header__div-busqueda {
    grid-column: 1 / span 2;
  }
  #header__div-busqueda > div {
    padding: 0 0.5rem;
  }
  #header__div-busqueda_div-input {
    flex-basis: 75%;
  }
  #header__div-busqueda_div-input > input {
    max-width: 75%;
  }
  #header__div-busqueda_div-btn{
    flex-basis: 25%;
  }
  #header__div-newVehicle { grid-column: 3 / span 1;  }
  #header__div-datos {
    grid-column: 1 / span 3;
    grid-row: 2;
  }
  #header__div-datos > div {
    flex-basis: 50%;
    padding: 0 0.5rem;
  }

  #form__div-buttons {  grid-template-columns: repeat(3, 1fr); }
  #btn-confirm{grid-column: 1}
  #btn-clean{grid-column: 2}
  #btn-back{grid-column: 3}
}

@media screen and (max-width: 650px){
  #header {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    flex-wrap: nowrap;
  }
  #header__div-busqueda { grid-row: 1; }
  #header__div-busqueda_div-input {
    justify-content: start !important;
    padding: 0 0.5rem;
    margin-left: .5rem;
    flex-basis: calc(75% - 0.5rem);
  }
  #header__div-newVehicle {
    grid-row: 2;
    grid-column: 1;
    margin-top: 0 !important;
  }
  #header__div-datos { grid-row: 3;  justify-content: start !important;  }

  #header__div-newVehicle > button {
    width: 90%;
    }

  #form__div-buttons {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
  }

  #btn-confirm{grid-row: 1}
  #btn-clean{
    grid-column: 1;
    grid-row: 2;
  }
  #btn-back{
    grid-column: 1;
    grid-row: 3;
  }
}

/*SLIDER ABONADO*/

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25.5px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19.5px;
  width: 19.5px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(19.5px);
  -ms-transform: translateX(19.5px);
  transform: translateX(19.5px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 25.5px;
}

.slider.round:before {
  border-radius: 50%;
}
