<div class="container">
    <h3 align="center">Modificar de Orden de Servicio</h3>
    <hr/>
    <div id="header" class="row justify-content-around">
        <div id="header__div-busqueda" class="col-md-4 form-inline">
            <div id="header__div-busqueda_div-input" class="justify-content-center form-group col-md-8">
                <label class="tituloInput">Buscar Orden:</label>
                <input class="form-control  mr-sm-2" id="codigo" type="number" placeholder="Código" [(ngModel)]="txtBuscar" >
            </div>
            <div id="header__div-busqueda_div-btn" class="col-md-4 mt-4">
                <button id="btn-buscar" class="btn btn-outline-dark" type="button" (click)="buscarOrden()" >Buscar</button>
            </div>
        </div>
        <div id="header__div-buttons" class="col-md-4 form-inline">
            <button id="header__div-buttons_btnNew" type="button" class="btn btn-outline-dark" (click)="verNuevaOrden()">
                Nueva Orden
            </button>
            <button id="header__div-buttons_btnClose" type="button" class="btn btn-outline-info" (click)="cerrarOrden()" [disabled]="noCerrable()">
                Cerrar Orden
            </button>
            <button id="header__div-buttons_btnCancel" type="button" class="btn btn-outline-danger" (click)="anularOrden()" [disabled]="noAnulable()">
                Anular Orden
            </button>
        </div>
        <div id="header__div-datos" class="form-row col-md-4 justify-content-center" >
            <div id="header__div-datos_date" class="form-group">
                <label class="tituloInput">Fecha</label>
                <input
                    class="form-control"
                    type="text"
                    value="{{getFecha()}}"
                    name="fecha"
                    disabled
                    >
            </div>
            <div id="header__div-datos_code" class="form-group">
                <label class="tituloInput">N° de Orden</label>
                <input
                    class="form-control"
                    type="text"
                    ngModel
                    [(ngModel)] = "getOrdenServicio().codigo"
                    name="codigo"
                    #codigo="ngModel"
                    disabled
                >
            </div>
            <div id="header__div-datos_state" class="form-group">
                <label class="tituloInput">Estado</label>
                <input
                    class="form-control"
                    type="text"
                    [(ngModel)] = "getOrdenServicio().estado.nombre"
                    ngModel
                    name="fecha"
                    #fecha="ngModel"
                    disabled
                    >
            </div>
        </div>
    </div>

    <form autocomplete = "off" #form="ngForm" (ngSubmit)="guardarOrden(form)" [hidden]="enviado">

        <hr/>

        <h4>Datos del Cliente</h4>
        <hr>

        <h6>Propietario</h6>
        <div id="content__datosPropietario">
            <fieldset id="content__datosPropietario-fieldset-razonS" name="razonSocial" hidden="true" disabled>
                <div class="form-group col-md-3">
                    <label class="tituloInput">Razón Social</label>
                    <input
                        id="razonSocialPropietario"
                        class="form-control"
                        type="text"
                        name="txtRazonSocial"
                        ngModel
                        [(ngModel)] = "getOrdenServicio().razonSocialTitular"
                        placeholder="Razón Social"
                        #razonSocial="ngModel"
                        pattern="[A-Za-zÁéÉéÍíÓóÚú\s']+"
                        [class.is-invalid]="razonSocial.invalid && razonSocial.touched"
                        disabled
                    >
                </div>
            </fieldset>

            <fieldset id="content__datosPropietario-fieldset-nombreA" name="nombreApellido" hidden="true" disabled>

                <div class="row">

                    <div id="content__datosPropietario-fieldset-nombreA_nombre" class="form-group">
                        <label class="tituloInput">Nombre</label>
                        <input
                            id="nombrePropietario"
                            class="form-control"
                            type="text"
                            placeholder="Nombre propietario"
                            ngModel
                            [(ngModel)] = "getOrdenServicio().nombreTitular"
                            name="nombrePropietario"
                            #nombre="ngModel"
                            pattern="[A-Za-zÁéÉéÍíÓóÚú\s']+"
                            [class.is-invalid]="nombre.invalid && nombre.touched"
                            disabled
                        >
                    </div>

                    <div id="content__datosPropietario-fieldset-nombreA_apellido" class="form-group">
                        <label class="tituloInput">Apellido</label>
                        <input
                            class="form-control"
                            type="text"
                            placeholder="Apellido propietario"
                            ngModel
                            [(ngModel)] = "getOrdenServicio().apellidoTitular"
                            name="apellidoPropietario"
                            #apellido="ngModel"
                            pattern="[A-Za-zÁéÉéÍíÓóÚú\s']+"
                            [class.is-invalid]="apellido.invalid && apellido.touched"
                            disabled
                        >
                    </div>

                </div>

            </fieldset>

        <!-- </div>
        <div class="row" style="justify-content: center;"> -->
            <div id="content__datosPropietario-telefono" class="form-group col-md-4" >
                <label class="tituloInput">Teléfono</label>
                <input
                    class="form-control"
                    type="text"
                    placeholder="Teléfono propietario"
                    ngModel
                    [(ngModel)] = "getOrdenServicio().telefonoTitular"
                    name="telefonoPropietario"
                    #telefono="ngModel"
                    required
                    minlength="9"
                    pattern="[0-9]*"
                    [class.is-invalid]="telefono.invalid && telefono.touched"
                    disabled
                >
            </div>

        </div>
        <h6 class="mt-2">Chofer: </h6>
        <div id="form__div-datosChofer" class="form-row">
            <div class="form-group col-md-4">
                <label class="tituloInput">Nombre</label>
                <input
                    class="form-control"
                    type="text"
                    placeholder="Nombre chofer"
                    ngModel
                    [(ngModel)] = "getOrdenServicio().nombreChofer"
                    name="nombreChofer"
                    #nombreChofer="ngModel"
                    required
                    pattern="[A-Za-zÁéÉéÍíÓóÚú\s']+"
                    [class.is-invalid]="nombreChofer.invalid && nombreChofer.touched"
                    disabled
                >
            </div>
            <div class="form-group col-md-4">
                <label class="tituloInput">Apellido</label>
                <input
                    class="form-control"
                    type="text"
                    placeholder="Apellido chofer"
                    ngModel
                    [(ngModel)] = "getOrdenServicio().apellidoChofer"
                    name="apellidoChofer"
                    #apellidoChofer="ngModel"
                    pattern="[A-Za-zÁéÉéÍíÓóÚú\s']+"
                    [class.is-invalid]="apellidoChofer.invalid && apellidoChofer.touched"
                    disabled
                >
            </div>
            <div class="form-group col-md-4">
                <label class="tituloInput">Teléfono</label>
                <input
                    class="form-control"
                    type="text"
                    placeholder="Teléfono chofer"
                    ngModel
                    [(ngModel)] = "getOrdenServicio().telefonoChofer"
                    name="telefonoChofer"
                    #telefonoChofer="ngModel"
                    required
                    minlength="9"
                    pattern="[0-9]*"
                    [class.is-invalid]="telefonoChofer.invalid && telefonoChofer.touched"
                    disabled
                >
            </div>

        </div>

        <hr>
        <h4>Datos del Vehículo</h4>
        <hr>

        <div id="content__datosVehiculo">

              <div id="form__div-dominio">
                <label class="tituloInput">Dominio</label>
                <input
                    class="form-control input-dominio"
                    type="text"
                    placeholder="Dominio"
                    ngModel
                    [(ngModel)] = "getOrdenServicio().vehiculo.dominio"
                    name="dominio"
                    #dominio="ngModel"
                    disabled
                >
            </div>

            <div id="form__div-marca">
              <label class="tituloInput">Marca</label>
              <input
                  class="form-control"
                  type="text"
                  placeholder="Marca"
                  ngModel
                  [(ngModel)] = "getOrdenServicio().vehiculo.marca.nombre"
                  name="marca"
                  #marca="ngModel"
                  required
                  disabled
              >
            </div>

            <div id="form__div-modelo" >
              <label class="tituloInput">Modelo</label>
              <input
                  class="form-control"
                  type="text"
                  placeholder="Modelo"
                  ngModel
                  [(ngModel)] = "getOrdenServicio().vehiculo.modelo"
                  name="modelo"
                  #modelo="ngModel"
                  required
                  disabled
              >
            </div>

            <div id="form__div-anio">
              <label class="tituloInput">Año</label>
              <input
                  class="form-control"
                  type="text"
                  placeholder="Año"
                  ngModel
                  [(ngModel)] = "getOrdenServicio().vehiculo.anioModelo"
                  name="anioModelo"
                  #anio="ngModel"
                  required
                  disabled
              >
            </div>


            <div id="form__div-chasis">
                <label class="tituloInput">Chasis</label>
                <input
                    class="form-control"
                    type="text"
                    placeholder="Chasis"
                    ngModel
                    [(ngModel)] = "getOrdenServicio().vehiculo.chasis"
                    name="chasis"
                    #anio="ngModel"
                    required
                    disabled
                >
            </div>

            <div id="form__div-kms">
                <label class="tituloInput">Kilómetros</label>
                <input
                    class="form-control"
                    type="number"
                    placeholder="Kilometraje"
                    ngModel
                    [(ngModel)] = "getOrdenServicio().kilometrajeActual"
                    name="kms"
                    #kms="ngModel"
                    required
                    pattern="[0-9]*"
                    [class.is-invalid]="kms.invalid && kms.touched"
                    disabled
                >
            </div>

            <div id="form__div-color">
                <label class="tituloInput">Color</label>
                <input
                    class="form-control"
                    type="text"
                    placeholder="Color"
                    ngModel
                    [(ngModel)] = "getOrdenServicio().vehiculo.color"
                    name="color"
                    #color="ngModel"
                    pattern="[0-9a-zA-z]*"
                    required
                    [class.is-invalid]="color.invalid && color.touched"
                    disabled
                >
            </div>

            <div id="form__div-combustible">
                <label id="tituloInput" class="tituloInput" for="combustible" style="vertical-align: bottom;">Nivel Combustible:</label>
                <div id="form__div-combustible_divRadio" class="form-row">
                    <div class="form-group col-md-2">
                        <label for="vacio" ><strong>Vacío</strong></label>
                        <input
                            id="vacio"
                            class="form-control"
                            type="radio"
                            name="combustible"
                            disabled
                        >
                    </div>
                    <div class="form-group col-md-2">
                        <label for="cuarto"><strong>1/4</strong></label>
                        <input
                            id="cuarto"
                            class="form-control"
                            type="radio"
                            name="combustible"
                            disabled
                        >
                    </div>
                    <div class="form-group col-md-2">
                        <label for="medio"><strong>1/2</strong></label>
                        <input
                            id="medio"
                            class="form-control"
                            type="radio"
                            name="combustible"
                            disabled
                        >
                    </div>
                    <div class="form-group col-md-2">
                        <label for="tres-cuartos"><strong>3/4</strong></label>
                        <input
                            id="tres-cuartos"
                            class="form-control"
                            type="radio"
                            name="combustible"
                            disabled
                        >
                    </div>
                    <div class="form-group col-md-2"  style="align-content: center !important;">
                        <label for="lleno"><strong>Lleno</strong></label>
                        <input
                            id="lleno"
                            style="align-content: left !important;"
                            class="form-control"
                            type="radio"
                            name="combustible"
                            disabled
                        >
                    </div>
                </div>
            </div>

            <div id="form__div-fechaRecepcion">
                <label class="tituloInput">Fecha de Recepción</label>
                <input
                    class="form-control"
                    type="date"
                    placeholder="Fecha Recepción"
                    ngModel
                    [(ngModel)] = "getOrdenServicio().fechaRecepcion"
                    name="fechaRecep"
                    #fechaRecep="ngModel"
                    [class.is-invalid]="(fechaRecep.invalid && fechaRecep.touched) || (hsRecep.valid && hsRecep.dirty && fechaRecep.pristine)"
                >
            </div>
            <div id="form__div-hsRecepcion">
                <label class="tituloInput">Hora de Recepción</label>
                <input
                    class="form-control"
                    type="time"
                    placeholder="Hora Recepción"
                    ngModel
                    [(ngModel)] = "getOrdenServicio().horaRecepcion"
                    name="hsRecep"
                    #hsRecep="ngModel"
                    [class.is-invalid]="(fechaRecep.valid && fechaRecep.dirty && hsRecep.pristine) || (hsRecep.invalid && hsRecep.touched)"
                >
            </div>
        </div>

        <hr>
        <h4>Motivo de Visita</h4>
        <div id="form__div-motivos">
            <label class="col-md-1 my-auto" style="font-size: larger;"><strong>-</strong></label>
            <textarea
                id="motivo"
                class="form-control"
                type="text"
                placeholder="Descripción del Cliente..."
                ngModel
                [(ngModel)] = "getOrdenServicio().motivoVisita"
                name="motivo"
                #motivo="ngModel"
                required
                [class.is-invalid]="motivo.invalid && motivo.touched"
                disabled
            ></textarea>
            <!-- <span class="col-sm-1">&nbsp;</span>
            <input class="btn btn-outline-dark col-sm-1" style="font-weight: bold; height: 50px; position: relative;"
                type="button"
                id="agregaMotivo"
                value="+"
                (click)="agregarMotivo()"
            > -->
        </div>

        <hr>
        <h4>Detalle de Trabajos</h4>
        <hr/>
        <div id="form__div-detalles" class="form-row" >
            <div id="form__div-detalles_items" class="form-row col-md-10" *ngFor="let d of getOrdenServicio().detalle; let indice = index">
                <label id="form__div-detalles_items-label" class="col-xs-1 my-2" style="font-size: larger;"><strong>{{indice+1}}</strong></label>
                <input id="form__div-detalles_items-job"
                    class="form-control col-md-8 mx-2 my-2"
                    type="text"
                    placeholder="Detalle de trabajo a realizar..."
                    ngModel
                    [(ngModel)] = "getOrdenServicio().detalle[indice].descripcion"
                    name="trabajo{{indice}}"
                    #trabajo="ngModel"
                    required
                    [class.is-invalid]="trabajo.invalid && trabajo.touched"
                >
                <div id="form__div-detalles_items-divSubtotal" class="form-row col-md-2 my-auto">
                    <input id="form__div-detalles_items-div-subtotal"
                        class="form-control"
                        type="number"
                        placeholder="Subtotal"
                        ngModel
                        [(ngModel)] = "getOrdenServicio().detalle[indice].subtotal"
                        min="0"
                        name="subtotal{{indice}}"
                        #subtotal="ngModel"
                        required
                        [class.is-invalid]="subtotal.invalid && subtotal.touched"
                        (blur)="setTotal()"
                    >
                </div>
                <div id="form__div-detalles_items-divMinus" class="col-md-1">
                    <input id="form__div-detalles_items-divMinus-btnMinus" class="btn btn-outline-dark "
                            type="button"
                            value="-"
                            data-toggle="tooltip" title="Click para quitar este ítem"
                            (click)="quitarTrabajo(indice)"
                        >
                </div>
            </div>
            <div id="form__div-detalles_btnPlus" class="col-md-2">
                <input id="btnPlusJob" class="btn btn-outline-dark my-2"
                    type="button"
                    value="+"
                    data-toggle="tooltip"
                    title="Click para añadir un nuevo detalle"
                    (click)="agregarTrabajo()"
                >
            </div>
        </div>
        <hr>
        <div class="form-row justify-content-end my-2">
            <div id="total" class="form-inline justify-content-end">
                <h2><strong>Total:</strong></h2>
                <input
                    style="font-size: larger;font-weight: bold;"
                    class="form-control col-md-5 mx-2"
                    type="number"
                    placeholder="Total"
                    ngModel
                    [(ngModel)] = "getOrdenServicio().total"
                    name="total"
                    #total="ngModel"
                    required
                    disabled
                    [class.is-invalid]="total.invalid"
                >
            </div>
            <div class="form-group col-md-3 mt-4 justify-content-center form-inline">
                <h4 class="mr-4">Abonada:</h4>
                <label class="switch">
                    <input
                        class="abonada"
                        id="abonada"
                        type="checkbox"
                        name="abonada"
                        #abonada
                        (change)="checkCheckBoxvalue($event)">
                    <span class="abonada slider round"></span>
                </label>
            </div>
        </div>
        <div id="form__div-buttons">
            <button id="btn-confirm" type="submit" class="col-md-3 btn btn-outline-success" [disabled]="form.invalid">
                Confirmar
            </button>

            <button id="btn-back" type="submit" class="col-md-3 btn btn-outline-primary" routerLink="/ordenes-servicios">
                Volver
            </button>
        </div>
    </form>

    <div [hidden]="!enviado" align="left">
        <h4>La Orden de Servicio se ha modificado correctamente!</h4>
        <h5>Podrá chequear los datos de la orden <strong>Orden N° {{getOrdenServicio().codigo}} </strong> haciendo <a (click)="redireccionConsultar()"><b><i><u>click aquí</u></i></b></a>.</h5>
        <button type="button" class="btn btn-outline-success" (click)="setEnviado()" >Nueva Orden de Servicio</button>
        <button type="button" class="btn btn-outline-dark" routerLink="/home" >Ir al Inicio</button>
    </div>
</div>
