/* table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
} */
body{
  min-width: 340px;
}

h1 {
  text-align:center;
  padding: 1rem;
  letter-spacing: .25rem;
}

h2, h3 {
  text-align:center;
}

.contenedor-logo {
  padding-top:2rem;
}

.logo-central {
  margin: -1rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 250px;
  max-height: 200px;
  border-radius: 25%;
  /* border: solid .25rem red; */
  filter: contrast(1.25);
  object-fit: cover;
}

.div-btnGroup {
  display: flex;
  justify-content: center !important;
}

.btnGroup {
  margin-left: .25rem;
  margin-right: .25rem;
}

@media screen and (max-width: 767px) {
  .div-btnGroup {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;;
  }

  .btnGroup {
    display: block;
    border-radius: .25rem !important;
  }
  #btn-nuevoVehiculo {
    max-width: 100% !important;
  }
  #btn-nuevaOrden {
    max-width: 100% !important;
  }

  #btn-irVehiculoSinDominio {
    max-width: 100% !important;
  }

}


@media screen and (max-width: 500px) {
  h1 {
    display: none;
  }

  .contenedor-logo {
    padding-bottom: 2rem;
  }

  .logo-central {
    max-width: 50%;
    max-height: 50%;
    min-width: 150px;
  }
}
