<div class="container">

  <div class="bg-dark text-white contenedor-logo">
    <img src="{{getImagen()}}" class="logo-central">
    <h1>APPTM</h1>
    <h3>Sistema de Gestión de Trabajos</h3>
  </div>

  <br>

  <div class="justify-content-center">
    <app-vehiculo></app-vehiculo>
  </div>

  <hr>

  <div class="col-sm div-btnGroup justify-content-center" >
      <button id="btn-nuevoVehiculo" type="button" class="btn btn-outline-dark btnGroup col-2 my-1" (click)="verNuevoVehiculo()">
        Registrar Nuevo Vehículo
      </button>

      <button id="btn-nuevaOrden" type="button" class="btn btn-outline-dark btnGroup col-2 my-1" (click)="verNuevaOrdenServicio()">
        Registrar Nueva Orden de Servicio
      </button>

      <button id="btn-nuevoPresupuesto" type="button" class="btn btn-outline-dark btnGroup col-2 my-1" (click)="verNuevoPresupuesto()" [hidden]="!presupuesto">
        Nuevo Presupuesto
      </button>
  </div>

  <br>

</div>
