#logo {
    max-width: 3rem;
    border-radius: 50%;
    object-fit: cover;
    filter: contrast(1.25);
    transition: transform .5s;
}

#logo:hover {
    background: transparent;
    transform: scale(1.25,1.25);
}