<div class="container">
  <h2>Modificar Vehículo</h2>
  <hr>
  <div [hidden]="enviado" class="principal">
    <form id="formulario" class="container-fluid mx-auto py-3" autocomplete = "off" #form="ngForm" (ngSubmit)="cargarFormulario()">

      <div class="form__div-h4-vehiculo">
        <h4 align="left">Datos del Vehículo: </h4>
        <hr>
      </div>

      <div id="content-datosVehiculo">
        <div class="form-group col-md-2 content__div-dominio">
          <label>Dominio</label>
          <input
            class="form-control content__div-dominio"
            type="text"
            placeholder="Dominio"
            name="dominio"
            [(ngModel)]= "vehiculoModificado.dominio"
            #dominio="ngModel"
            required
            pattern="^([a-zA-Z]{3}[0-9]{3})$|^([a-zA-Z]{2}[0-9]{3}[a-zA-Z]{2})$"
            [class.is-invalid]="dominio.invalid && dominio.touched"
            >
        </div>

        <div class="form-group col-md-2 content__div-marca">
          <label>Marca</label>
          <select
          class="form-control"
          name="marca"
          [(ngModel)]= "vehiculoModificado.marca"
          [compareWith]="compareFn"
          #marca="ngModel"
          required
          >
            <option *ngFor="let m of getMarcas()" [ngValue]="m">{{m.nombre}}</option>
          </select>
        </div>

        <div class="form-group col-md-2 content__div-modelo">
          <label>Modelo</label>
          <input
            class="form-control"
            type="text"
            placeholder="Modelo"
            name="modelo"
            [(ngModel)]= "vehiculoModificado.modelo"
            #modelo="ngModel"
            required
            pattern="[A-Za-z0-9ÁáÉéÍíÓóÚú\s']+"
            [class.is-invalid]="modelo.invalid && modelo.touched"
          >
        </div>

        <div class="form-group col-md-2 content__div-anio">
          <label>Año</label>
          <input
            class="form-control"
            type="number"
            placeholder="Año"
            name="anioModelo"
            [(ngModel)]= "vehiculoModificado.anioModelo"
            #anio="ngModel"
            required
            minlength="4"
            maxlength="4"
            pattern="[0-9]*"
            [class.is-invalid]="anio.invalid && anio.touched"
          >
        </div>

        <div class="form-group col-md-2 content__div-chasis">
          <label>Número Chasis</label>
          <input
            class="form-control input-chasis"
            type="text"
            placeholder="Número Chasis"
            name="chasis"
            [(ngModel)]= "vehiculoModificado.chasis"
            #chasis="ngModel"
            pattern="[A-Za-z0-9ÁáÉéÍíÓóÚú\s']+"
            [class.is-invalid]="chasis.invalid && chasis.touched"
            >
        </div>

        <div class="form-group col-md-2 content__div-color">
          <label>Color</label>
          <input
            class="form-control"
            type="text"
            placeholder="Color"
            name="color"
            [(ngModel)]= "vehiculoModificado.color"
            #color="ngModel"
            required
            pattern="[A-Za-z0-9ÁáÉéÍíÓóÚú\s']+"
            [class.is-invalid]="color.invalid && color.touched"
          >
        </div>

        <div class="form-group col-md-2 content__div-kms">
          <label>Kilómetros</label>
          <input
          class="form-control"
          type="number"
          placeholder="Kilometraje"
          name="kilometraje"
          [(ngModel)]= "vehiculoModificado.kilometraje"
          #kms="ngModel"
          required
          pattern="[0-9]*"
          [class.is-invalid]="kms.invalid && kms.touched"
          >
        </div>
      </div>

      <div class="form__div-h4-propietario">
        <hr>
        <h4>Propietario: </h4>
        <hr>
      </div>

      <div id="content__datosPropietario">
        <fieldset id="content__datosPropietario-fieldset-Radio">
          <h6 align="left">Seleecione un tipo de propietario: <abbr title="Este campo es obligatorio" aria-label="required">*</abbr></h6>
          <div class="form-group col-md-3">
            <input
              id="radioRazonS"
              value="RSProp"
              type="radio"
              name="propietario"
              selected
              onclick="
              razonSocial.hidden = false;
              razonSocialPropietario.required;
              nombreApellido.hidden = true;
            "> Persona Jurídica
            <input
              id="radioNomApe"
              value="ANProp"
              type="radio"
              name="propietario"
              selected
              onclick="
              nombreApellido.hidden = false;
              nombrePropietario.required;
              apellidoPropietario.required;
              razonSocial.hidden = true;
            "> Persona Física
          </div>
        </fieldset>

        <fieldset id="content__datosPropietario-fieldset-razonS" name="razonSocial" hidden="true">
          <div class="form-group col-md-3">
            <label>Razón Social</label>
            <input
              id="RazonSProp"
              class="form-control"
              type="text"
              placeholder="Razón Social"
              name="razonSocialPropietario"
              [(ngModel)]= "vehiculoModificado.razonSocialPropietario"
              #razonSocial="ngModel"
              pattern="[A-Za-z\s,.'-ñÁáÉéÍíÓóÚú]+"
              [class.is-invalid]="razonSocial.invalid && razonSocial.touched"
              >
          </div>
        </fieldset>

        <fieldset id="content__datosPropietario-fieldset-nombreA" name="nombreApellido" hidden="true">
          <div class="row" align="center">
            <div id="content__datosPropietario-fieldset-nombreA_apellido" class="form-group">
              <label>Apellido</label>
              <input
                id="ApeProp"
                class="form-control"
                type="text"
                placeholder="Apellido propietario"
                name="apellidoPropietario"
                [(ngModel)]= "vehiculoModificado.apellidoPropietario"
                #apellido="ngModel"
                pattern="[A-Za-z\s,.'-ñÁáÉéÍíÓóÚú]+"
                [class.is-invalid]="apellido.invalid && apellido.touched"
              >
            </div>

            <div id="content__datosPropietario-fieldset-nombreA_nombre" class="form-group">
              <label>Nombre</label>
              <input
                id="NomProp"
                class="form-control"
                type="text"
                placeholder="Nombre propietario"
                name="nombrePropietario"
                [(ngModel)]= "vehiculoModificado.nombrePropietario"
                #nombre="ngModel"
                pattern="[A-Za-z\s,.'-ñÁáÉéÍíÓóÚú]+"
                [class.is-invalid]="nombre.invalid && nombre.touched"
                >
            </div>
          </div>
        </fieldset>

        <div id="content__datosPropietario-telefono" class="form-group col-md-3">
          <label>Teléfono</label>
          <input
            class="form-control"
            type="text"
            placeholder="Teléfono"
            name="telefonoPropietario"
            [(ngModel)]= "vehiculoModificado.telefonoPropietario"
            #telefono="ngModel"
            required
            minlength="9"
            pattern="[0-9]*"
            [class.is-invalid]="telefono.invalid && telefono.touched"
            >
        </div>
      </div>

      <br>

      <div class="content__div-botones">
          <button id="btn-registrar" type="submit" class="btn btn-outline-success">Guardar</button>
          <button id="btn-limpiar" type="button" class="btn btn-outline-warning" (click)="limpiarFormulario()">Limpiar</button>
          <button id="btn-volver" type="button" class="btn btn-outline-dark" routerLink="/home" >Volver</button>
      </div>

    </form>
  </div>

  <div [hidden]="!enviado" align="left">
    <h4>El vehículo se ha modificado correctamente!</h4>
    <button type="button" class="btn btn-outline-dark" routerLink="/home" >Ir al Inicio</button>
  </div>
</div>
