
.container > h2 {
    text-align: center;
  }

  div > h4 {
    text-align: left ;
  }

  fieldset > div {
    max-width: 100% !important;
  }

  fieldset > .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
    flex-wrap: nowrap !important;
    gap: .5rem;
  }
  .row > div {
    padding-left: .5rem;
    padding-right: .5rem;
  }

  /* Estilo Grid para parte del form dedicado al Vehículo*/
  #content-datosVehiculo {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-around;
  }

  #content-datosVehiculo > div {
    max-width: 100% !important;
  }

.content__div-dominio {
  grid-column: 4 / span 2;
  text-align: center;
  text-transform:uppercase;
}

.content__div-marca {
  grid-column: 2 / span 2;
}

.content__div-modelo {
  grid-column: 4 / span 2;
  text-transform:capitalize;
}

.content__div-anio {
  grid-column: 6 / span 2;
}

.content__div-chasis {
  grid-column: 2 / span 2;
  text-transform:capitalize;
}

.content__div-color {
  grid-column: 4 / span 2;
  text-transform:capitalize;
}

.content__div-kms {
  grid-column: 6 / span 2;
}

.input-chasis {
  text-transform: uppercase;
}

  /* Estilo Grid para parte del form dedicado al Porpietario*/
  #content__datosPropietario {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-around !important;
  }

  #content__datosPropietario-fieldset-Radio {
    grid-column: 3 / span 4;
    text-align: left;
  }

  #content__datosPropietario-fieldset-razonS {
    grid-column: 1 / span 3;
    grid-row: 2;
    text-transform:capitalize;
  }
  #content__datosPropietario-fieldset-nombreA  {
    grid-column: 1 / span 5;
    grid-row: 2;
    text-transform:capitalize;
  }

  #content__datosPropietario-telefono {
    grid-column: 6 / span 3;
    grid-row: 2;
    max-width: 100% !important;
  }

  #content__datosPropietario-fieldset-nombreA_apellido, #content__datosPropietario-fieldset-nombreA_nombre{
    width: 100%;
    text-transform:capitalize;
  }

  /* Estilo Grid para parte del form dedicado a los botones*/
  .content__div-botones {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: .5rem;
  }

  #btn-registrar{grid-column: 2 / span 2;}
  #btn-limpiar{grid-column: 4 / span 2;}
  #btn-volver{grid-column: 6 / span 2;}
  #formulario {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  @media screen and (max-width: 1040px){
    #content-datosVehiculo {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: .5rem;
    }
    .content__div-dominio {  grid-column: 1 / span 1;}
    .content__div-marca {  grid-column: 2 / span 1;}
    .content__div-modelo {  grid-column: 3 / span 1;}
    .content__div-anio {  grid-column: 1 / span 1;}
    .content__div-color {  grid-column: 2 / span 1;}
    .content__div-kms {  grid-column: 3 / span 1;}

    #content__datosPropietario {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2,1fr);
    }

    #content__datosPropietario-fieldset-Radio {
      grid-column: 1 / span 3;
      text-align: left;
    }

    #content__datosPropietario-fieldset-razonS {
      grid-column: 1 / span 2;
      grid-row: 2;
    }
    #content__datosPropietario-fieldset-nombreA  {
      grid-column: 1 / span 2;
      grid-row: 2;
    }

    #content__datosPropietario-telefono {
      grid-column: 3 / span 1;
      grid-row: 2;
      max-width: 100% !important;
    }
  }

  @media screen and (max-width: 850px){
    #content-datosVehiculo {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-gap: .5rem;
    }
    .content__div-dominio {  grid-column: 1 / span 1;}
    .content__div-marca {  grid-column: 2 / span 1;}
    .content__div-modelo {  grid-column: 1 / span 1;}
    .content__div-anio {  grid-column: 2 / span 1;}
    .content__div-color {  grid-column: 1 / span 1;}
    .content__div-kms {  grid-column: 2 / span 1;}

    #content__datosPropietario {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3,1fr);
      grid-auto-flow: row;
    }

    #content__datosPropietario-fieldset-Radio { grid-column: 1 / span 2}

    #content__datosPropietario-fieldset-razonS {
      grid-column: 1 / span 2;
      grid-row: 2;
    }
    #content__datosPropietario-fieldset-nombreA  {
      grid-column: 1 / span 2;
      grid-row: 2;
    }

    #content__datosPropietario-telefono {
      grid-column: 1 / span 2;
      grid-row: 3;
      padding: 0 .5rem !important;
    }
  }

  @media screen and (max-width: 605px){
    .form-group, #content__datosPropietario-telefono {
      margin-bottom: 0 !important;
      padding: 0 !important;
    }
  }

  @media screen and (max-width: 535px){
    #content-datosVehiculo , #content__datosPropietario {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6,1fr);
      grid-auto-flow: row;
    }
    .content__div-dominio,.content__div-marca,.content__div-modelo,.content__div-anio,.content__div-color,.content__div-kms{ grid-column: 1; }
    .content__div-dominio {  grid-row: 1;}
    .content__div-marca {  grid-row: 2;}
    .content__div-modelo {  grid-row: 3;}
    .content__div-anio {  grid-row: 4;}
    .content__div-color {  grid-row: 5;}
    .content__div-kms {  grid-row: 6;}

    #content__datosPropietario { grid-template-rows: repeat(4,1fr); }

    #content__datosPropietario-fieldset-Radio { grid-row: 1}
    #content__datosPropietario-telefono {grid-row: 2;}
    #content__datosPropietario-fieldset-razonS { grid-row: 3; }
    #content__datosPropietario-fieldset-nombreA  { grid-row: 3 / span 2; }
    fieldset > .row { flex-wrap: wrap !important;}

    .content__div-botones {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3,1fr);
    }

    #btn-registrar,#btn-limpiar,#btn-volver{ grid-column: 1; }
    #btn-registrar{grid-row: 1;}
    #btn-limpiar{grid-row: 2;}
    #btn-volver{grid-row: 3;}
  }
