<div class="container-listas">
  <!-- BARRA DE BÚSQUEDAS -->
  <div class="row justify-content-around">
    <div class="col-md-5 form-inline">
      <h5 class="col-md-5">Búsqueda por Código:</h5>
      <input id="codigo" class="col-md-3 form-control" type="number" placeholder="Código" [(ngModel)]="txtBuscar">
      <button id="btn-buscar" class="btn btn-outline-dark btn-busqueda col-md-2" type="button" (click)="buscarOrden()">Buscar</button>
      <button id="btn-limpiar" class="btn btn-outline-dark btn-busqueda col-md-2" type="button" (click)="limpiarBusqueda()">Limpiar</button>
    </div>
    <div id="div-nuevaOrden" class="col-md-2 m-2" >
      <button id="btn-nuevaOrden" class="btn btn-outline-dark" type="button" (click)="nuevaOrdenServicio()">Nueva Orden</button>
    </div>

  </div>

  <!-- TABLA TIPO LISTA -->
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="m-3">Lista de Órdenes de Servicios</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th id="th-codigo">Código</th>
            <th id="th-fecha">Fecha</th>
            <th id="th-propietario">Propietario</th>
            <th id="th-dominio">Dominio</th>
            <th id="th-marca">Marca</th>
            <th id="th-modelo">Modelo</th>
            <th id="th-color">Color</th>
            <th id="th-estado">Estado</th>
            <th id="th-acciones">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let os of ordenes | filter : filtrar">
            <td id="td-codigo">{{os.codigo}}</td>
            <td id="td-fecha">{{getFecha(os.fecha)}}</td>
            <div *ngIf="os.razonSocialTitular; then razonSocial else nombreApellido">Esto se ignora!</div>
            <ng-template #razonSocial>
            <td class="td-propietario">{{os.razonSocialTitular}}</td>
            </ng-template>
            <ng-template #nombreApellido>
            <td class="td-propietario">{{os.apellidoTitular}},&nbsp;{{os.nombreTitular}}</td>
            </ng-template>
            <td id="td-dominio">{{os.vehiculo.dominio}}</td>
            <td id="td-marca">{{os.vehiculo.marca.nombre}}</td>
            <td id="td-modelo">{{os.vehiculo.modelo}}</td>
            <td id="td-color">{{os.vehiculo.color}}</td>
            <td id="td-estado">{{os.estado.nombre}}</td>
            <td id="td-acciones" class="btnGroup">
              <button type ="button" id="btn-details" class="btn btn-outline-dark btnGrid" (click)="verDetallesOrdenes(os.codigo)" title="Detalles">Detalles</button>
              <button type ="button" id="btn-close" class="btn btn-outline-info btnGrid" [disabled]="noCerrable(os.estado.nombre)" title="Cerrar" (click)="cerrarOrden(os.codigo,os.estado.nombre)">Cerrar</button>
              <button type ="button" id="btn-cash" class="btn btn-outline-success btnGrid" [disabled]="noAbonable(os.estado.nombre)" title="Abonar" (click)="abonarOrden(os.codigo,os.estado.nombre)">Abonar</button>
              <button type ="button" id="btn-cancel" class="btn btn-outline-danger btnGrid" [disabled]="noAnulable(os.estado.nombre)" title="Anular" (click)="anularOrden(os.codigo,os.estado.nombre)">Anular</button>
              <button type ="button" id="btn-download" class="btn btn-outline-primary btnGrid" title="Descargar" (click)="descargarOS(os.codigo)">Descargar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row justify-content-end mr-4" style="margin-top: 1%; margin-bottom: 0.5%;">
    <button class="btn btn-primary fa fa-angle-double-left" (click)="irAPagina(0)" [disabled]="paginaActual==0">Primera</button>
    <button class="btn btn-primary fa fa-angle-left" style="margin-left: 0.05%;" (click)="pasarPagina(-1)" [disabled]="paginaActual==0"><</button>
    <button class="btn btn-primary fa fa-angle-right" style="margin-left: 0.05%;" (click)="pasarPagina(1)" [disabled]="paginaActual==(cantidadPaginas-1)">></button>
    <button class="btn btn-primary fa fa-angle-double-right" style="margin-left: 0.05%;" (click)="irAPagina(cantidadPaginas-1)" [disabled]="paginaActual==(cantidadPaginas-1)">Última</button>
  </div>
  <div class="row justify-content-end mr-4">
    <p>Página {{paginaActual + 1}} de {{cantidadPaginas}}</p>
  </div>
</div>
