#div-nuevaOrden {
    display: flex;
    justify-content: center;
}


@media screen and (max-width: 1200px) {
    .btnGrid {
        margin: 0 0.35rem;
        height: 1.5rem;
        font-size: 0;
        border: none;
        object-fit: cover;
        transition: transform;
    }

    #btn-details {
        background: url(../../../assets/iconos/utilizados/clipboard-list.svg);
        height: 1.97rem;
    }
    #btn-close {
        background: url(../../../assets/iconos/utilizados/lock.svg);
        height: 1.70rem;
    }
    #btn-cash {
        background: url(../../../assets/iconos/utilizados/hand-holding-usd.svg);
        height: 1.33rem;
    }
    #btn-cancel {
        background: url(../../../assets/iconos/utilizados/times-circle.svg);
    }
    #btn-download {
        background: url(../../../assets/iconos/utilizados/download.svg);
    }

    .btnGrid:hover {
        transform: scale(1.25,1.25);
    }

}
@media screen and (max-width: 1140px) {
    #th-marca, #th-modelo, #th-color, #td-marca, #td-modelo, #td-color {
        display: none;
    }
    .btn-busqueda {
        margin: 0 0.5rem;
        height: 1.5rem;
        max-width: 1.5rem !important;
        font-size: 0;
        border: none;
        object-fit: cover;
        transition: transform;
    }

    .btn-busqueda:hover {
        transform: scale(1.25,1.25);
    }

    #btn-buscar{
        background: url(../../../assets/iconos/utilizados/search.svg);
    }
    #btn-limpiar{
        background: url(../../../assets/iconos/utilizados/stamp.svg);
        max-width: 1.70rem !important;
        height: 1.70rem !important;
    }
}

@media screen and (max-width: 850px) {
    .td-propietario, #th-propietario {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    #div-nuevaOrden {
        justify-content: left;
    }

    #btn-nuevaOrden {
        width: 50%;
    }
}

@media screen and (max-width: 640px) {
    #th-fecha, #td-fecha {
        display: none;
    }
}

@media screen and (max-width: 575px) {
    #btn-buscar, #btn-limpiar {
        margin-top: 0.25rem;
    }

    #th-codigo {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    #btn-nuevaOrden {
        width: 100%;
    }
}
