<app-navbar *ngIf="jwt || !tieneAuth"></app-navbar>
<router-outlet></router-outlet>
<footer>
    Powered by SerLiNo &copy;
</footer>

<!--<button type="button" class="btn btn-secondary btn-block" (click)="confirmacion()">Launch demo modal</button>-->
<ng-template #content let-modal>
    <div class="modal-header" style="margin-left: 20px; margin-right: 20px; padding-left: 0px;">
      <h4 class="modal-title" id="modal-basic-title">{{data.titulo}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="dateOfBirth" [innerHTML]="data.mensaje"></label>

        </div>
      </form>
    </div>
    <div class="modal-footer" style="border-top: 0px ;" >
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('ACEPTAR')">Aceptar</button>
      <button *ngIf="data.onAceptar"type="button" class="btn btn-outline-dark" (click)="modal.close('ACEPTAR')">Aceptar</button>
      <button *ngIf="data.onCancelar"type="button" class="btn btn-outline-dark" (click)="modal.close('CANCELAR')">Cancelar</button>
    </div>
  </ng-template>

