#div-reporte {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1200px) {
    
    .btn-busqueda {
        margin: 0 0.5rem;
        height: 1.5rem;
        max-width: 1.5rem !important;
        font-size: 0;
        border: none;
        object-fit: cover;
        transition: transform;
    }

    .btn-busqueda:hover {
        transform: scale(1.25,1.25);
    }
    
    #btn-buscar{     
        background: url(../../../assets/iconos/utilizados/search.svg);   
    }
    #btn-limpiar{
        background: url(../../../assets/iconos/utilizados/stamp.svg);
        max-width: 1.70rem !important;
        height: 1.70rem !important;
    }
}

@media screen and (max-width: 767px) {
    #div-reporte {
        justify-content: left;
    }

    #btn-reporte {
        width: 50%;
    }
}

@media screen and (max-width: 817px) {
    .btnGrid {
        margin: 0 0.35rem;
        height: 1.5rem;
        font-size: 0;
        border: none;
        object-fit: fill;
        transition: transform;
    }

    .btnGrid:hover {
        transform: scale(1.25,1.25);
    }

    #btn-details {
        background: url(../../../assets/iconos/utilizados/clipboard-list.svg);
        height: 1.97rem;
    }

    #btn-viewOrders {
        background: url(../../../assets/iconos/utilizados/car-crash.svg);
        height: 1.25rem;
    }

    #btn-newOrder {
        background: url(../../../assets/iconos/utilizados/tools.svg);
        height: 1.50rem;
    }

    #th-modelo, #td-modelo {
        display: none;
    }
}


@media screen and (max-width: 618px) {
    #btn-buscar, #btn-limpiar {
        margin-top: 0.25rem;
    }

    #th-marca, #td-marca {
        display: none;
    }

    #btn-reporte {
        width: 100%;
    }
}

@media screen and (max-width: 516px) {
    #td-acciones{
        padding-right: 0;
        padding-left: 0;
    }
}