<div class="container-listas">

  <!-- BARRA DE BÚSQUEDAS -->
  <div class="row justify-content-around">
    <div class="col-md-5 form-inline">
      <h5 class="col-md-5">Búsqueda por Dominio:</h5>
      <input class="col-md-3 form-control" id="dominio" type="text" placeholder="Dominio" style="text-transform:uppercase" [(ngModel)]="txtBuscar">
      <button id="btn-buscar" class="btn btn-outline-dark col-md-2 btn-busqueda" type="button" (click)="buscarVehiculo()">Buscar</button>
      <button id="btn-limpiar" class="btn btn-outline-dark col-md-2 btn-busqueda" type="button" (click)="limpiarBusqueda()">Limpiar</button>
    </div>

    <div id="div-newCar" class="col-md-2 m-2">
      <button id="btn-newCar" class="btn btn-outline-dark" type="button" (click)="verNuevoVehiculo()">Registrar Nuevo Vehículo</button>
    </div>

    <div id="div-reporte" class="col-md-2 m-2">
      <button id="btn-reporte" class="btn btn-outline-dark" type="button" (click)="downloadFile()">Reporte Vehículos</button>
    </div>

  </div>


  <!-- TABLA TIPO CARDS-->
  <!-- <div class="row">
    <div class="col-3 sm" *ngFor="let v of vehiculos | filter : filtrar">
      <div>
        <table class="table table-striped m-2">
          <tbody>
            <tr>
              <td width="20%">Dominio:</td>
              <td id="td_dominio" widht="80%">{{v.dominio}}</td>
            </tr>
            <tr>
              <td>Propietario:</td>
              <td id="td_propietario">{{v.apellidoPropietario}} , {{v.nombrePropietario}}</td>
            </tr>
            <tr>
              <td>Marca:</td>
              <td id="td_marca">{{v.marca.nombre}}</td>
            </tr>
            <tr>
              <td>Modelo:</td>
              <td id="td_modelo">{{v.modelo}}</td>
            </tr>
          </tbody>
        </table>

        <button type ="button" class="btn btn-outline-dark m-2" (click)="verDetallesVehiculo(v.dominio)">Detalles</button>
    </div>
  </div> -->




  <!-- TABLA TIPO LISTA -->
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Lista de Vehículos</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th id="th-dominio">Dominio</th>
            <th id="th-propietario">Propietario</th>
            <th id="th-marca">Marca</th>
            <th id="th-modelo">Modelo</th>
            <th id="th-acciones">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let v of vehiculos | filter : filtrar">
            <td id="td-dominio">{{v.dominio}}</td>
            <div *ngIf="v.razonSocialPropietario; then razonSocial else nombreApellido">Esto se ignora!</div>
            <ng-template #razonSocial>
            <td class="td-propietario">{{v.razonSocialPropietario}}</td>
            </ng-template>
            <ng-template #nombreApellido>
            <td class="td-porpietario">{{v.apellidoPropietario}},&nbsp;{{v.nombrePropietario}}</td>
            </ng-template>
            <td id="td-marca">{{v.marca.nombre}}</td>
            <td id="td-modelo">{{v.modelo}}</td>
            <td id="td-acciones" class="btnGroup">
              <button id="btn-details" type ="button" class="btn btn-outline-dark btnGrid" (click)="verDetallesVehiculo(v.dominio)" title="Detalles">Detalles</button>
              <button id="btn-newOrder" type="button" class="btn btn-outline-success btnGrid" (click)="nuevaOrdenServicio(v.dominio)" title="Nueva Orden de Servicio">Nueva Orden</button>
              <button id="btn-viewOrders" type ="button" class="btn btn-outline-info btnGrid" (click)="verOSPorVehiculo(v.dominio)" title="Ver Órdenes de Servicio">Mis órdenes de servicio</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row justify-content-end mr-4" style="margin-top: 1%; margin-bottom: 0.5%;">
    <button class="btn btn-primary fa fa-angle-double-left" (click)="irAPagina(0)" [disabled]="paginaActual==0">Primera</button>
    <button class="btn btn-primary fa fa-angle-left" style="margin-left: 0.05%;" (click)="pasarPagina(-1)" [disabled]="paginaActual==0"><</button>
    <button class="btn btn-primary fa fa-angle-right" style="margin-left: 0.05%;" (click)="pasarPagina(1)" [disabled]="paginaActual==(cantidadPaginas-1)">></button>
    <button class="btn btn-primary fa fa-angle-double-right" style="margin-left: 0.05%;" (click)="irAPagina(cantidadPaginas-1)" [disabled]="paginaActual==(cantidadPaginas-1)">Última</button>
  </div>
  <div class="row justify-content-end mr-4">
    <p>Página {{paginaActual + 1}} de {{cantidadPaginas}}</p>
  </div>

</div>
