
/*Estilo Grid para los ítems de búsqueda (input y botones)*/
.div-busqueda {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    grid-gap: .5rem;
    justify-content: space-around;
    margin-bottom: .5rem;
}
#txtDominio {    grid-column: 2 / span 3;}
#btn-buscar {    grid-column: 5 / span 1;}
#btn-limpiar {   grid-column: 6 / span 1;}

/*Estilo grid para la tabla de contenido del vehículo*/
.tablaVehiculo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-content: space-around;
}

.detalle-th {
  width: 30%;
}

.detalle-td {
  width: 70%;
  text-align: left;
}

/*Estilo grid para los botones*/
.div-sinDominino, .div-btnGroup {
    margin-bottom: .5rem;
}

.div-btnGroup {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: .5rem;
    justify-content: space-around;
}

.div-btnGroup > button {
    max-width: 100%;
}

#btn-edit {    grid-column: 2 / span 2;}
#btn-delete {    grid-column: 4 / span 2;}
#btn-newOrder {   grid-column: 6 / span 2;}
#btn-viewOrders {
    grid-column: 3 / span 2;
    grid-row: 2;
}
#btn-irVehiculoConDominio {
    grid-column: 5 / span 2;
    grid-row: 2;
}

@media screen and (max-width: 1000px) {
    #tablaVehiculo {
        padding: 0;
        max-width: 100%;
        justify-content: center;
    }
}

@media screen and (max-width: 767px) {
    .div-sinDominino {
      display: block;
    }

    #btn-irVehiculoSinDominio {
      max-width: 100% !important;
    }

    #tablaVehiculo > table {
        margin: 0 0 !important;
    }

    .tablaVehiculo {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-auto-flow: row;
    }

    .div-btnGroup {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    #btn-irVehiculoConDominio {
        margin-bottom: 1.5rem !important;
      }

  }

  @media screen and (max-width: 665px) {

    .div-busqueda {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: (2, 1fr);
        justify-items: center;
    }

    .btn-busqueda {
        margin: 0.25rem 0.5rem;
        height: 1.5rem;
        max-width: 1.5rem !important;
        font-size: 0;
        border: none;
        object-fit: cover;
        transition: transform;
    }

    .btn-busqueda:hover {
        transform: scale(1.25,1.25);
    }

    #txtDominio {
        grid-column: 1 / span 4;
        margin: 0 !important;
    }

    #btn-buscar{
        background: url(../../../assets/iconos/utilizados/search.svg);
        grid-row: 2 / span 1;
        grid-column: 2 / span 1;
    }
    #btn-limpiar{
        grid-row: 2 / span 1;
        grid-column: 3 / span 1;
        background: url(../../../assets/iconos/utilizados/stamp.svg);
        max-width: 1.70rem !important;
    }
}


@media screen and (max-width: 500px) {
    .tablaVehiculo {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(16, 1fr);
        grid-auto-flow: column;
    }
}
