<div id="divVehiculo" class="container" align="center">

  <div class="col-lg-12 div-busqueda">
      <input class="form-control mr-sm-2" id="txtDominio" type="text" placeholder="Dominio" style="text-transform:uppercase" [(ngModel)]="txtBuscar">
      <button id="btn-buscar" class="btn btn-outline-dark btn-busqueda" type="button" (click)="buscarVehiculo()">Buscar</button>
      <button id="btn-limpiar" class="btn btn-outline-dark btn-busqueda" type="button" (click)="limpiarBusqueda()">Limpiar</button>
  </div>

  <div *ngIf="getVehiculo(); then hayVehiculo else noHayVehiculo">Esto se ignora!</div>
  <ng-template #hayVehiculo>

    <div class="col-md-8 my-4" id="tablaVehiculo">
      <table class="table table-striped m-2">
        <tbody class="tablaVehiculo">

          <div *ngIf="getVehiculo().razonSocialPropietario; then razonSocial else nombreApellido">Esto se ignora!</div>
          <ng-template #razonSocial>
            <td class="td_header td-propietario" >Razón Social:</td>
            <td id="td_razonSocial" >{{getVehiculo().razonSocialPropietario}}</td>
            <td class="td_header td-telefono" >Teléfono:</td>
            <td id="td_telRSocial" >{{getVehiculo().telefonoPropietario}}</td>
          </ng-template>

          <ng-template #nombreApellido>
            <td class="td_header td-propietario" >Apellido, Nombre:</td>
            <td id="td_titular" >{{getVehiculo().apellidoPropietario}},&nbsp;{{getVehiculo().nombrePropietario}}</td>
            <td class="td_header td-telefono" >Teléfono:</td>
            <td id="td_telTitular" >{{getVehiculo().telefonoPropietario}}</td>
          </ng-template>

          <td id="th-dominio" class="td_header" >Dominio:</td>
          <td id="td_dominio">{{getVehiculo().dominio}}</td>
          <td id="th-marca" class="td_header">Marca:</td>
          <td id="td_marca">{{getVehiculo().marca?.nombre}}</td>
          <td id="th-modelo" class="td_header">Modelo:</td>
          <td id="td_modelo">{{getVehiculo().modelo}}</td>
          <td id="th-anio" class="td_header">Año:</td>
          <td id="td_anio">{{getVehiculo().anioModelo}}</td>
          <td id="th-kms" class="td_header">Kilometraje:</td>
          <td id="td_kms">{{getVehiculo().kilometraje}}</td>
          <td id="th-color" class="td_header">Color:</td>
          <td id="td_color">{{getVehiculo().color}}</td>
          <td id="th-chasis" class="td_header">Número Chasis:</td>
          <td id="td_chasis">{{getVehiculo().chasis}}</td>

        </tbody>
      </table>

    </div>

    <div class="div-btnGroup col-sm" align="center">
      <button id="btn-edit" class="btn btn-outline-warning col-4 my-1" type="button" (click)="modificarVehiculo(getVehiculo().dominio)" title="Modificar Vehículo">Modificar</button>
      <button id="btn-delete" class="btn btn-outline-danger col-4 my-1" type="button" (click)="eliminarVehiculo()" title="Eliminar Vehículo">Eliminar</button>
      <button id="btn-newOrder" class="btn btn-outline-success col-4 my-1" type="button" (click)="nuevaOrdenServicio()" title="Nueva Orden de Servicio">Cargar Orden</button>
      <button id="btn-viewOrders" class="btn btn-outline-info col-4 my-1" type ="button" (click)="verOSPorVehiculo(getVehiculo().dominio)" title="Órdenes de Servicio para el Vehículo">Ver Órdenes de Servicio</button>
      <button id="btn-irVehiculoConDominio" class="btn btn-outline-dark col-4 my-1" type="button" routerLink="/vehiculos" title="Ir a Vehículos">Ir a: Vehículos</button>
    </div>

  </ng-template>

  <ng-template #noHayVehiculo>
    <p><strong>INGRESE UN DOMINIO PARA COMENZAR</strong></p>
    <div class="div-sinDominino col-sm" align="center">
      <button id="btn-irVehiculoSinDominio" type="button" class="btn btn-outline-dark btnGroup col-4" routerLink="/vehiculos" >Ir a: Vehículos</button>
    </div>
  </ng-template>

</div>

