/* You can add global styles to this file, and also import other style files */
body{
    background: url("assets/imagenes/pattern.png");
    background-attachment: fixed;
}

.clearfix{      /*Limpia los flotados entre los elementos*/
    float: none;
    clear: both;
}

.td_header{
    font-weight: bold;
    background: #e6e3e3; /*cfcdcd*/
}
table h4 {
    padding-top: 10px;
}
tbody {
    border-bottom: solid 0.5px;
}
h5 a {
    text-decoration: underline blue;
    color: blue; 
    cursor: pointer;
}
.container{    
    min-height: 575px;
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 0 40px black;
    border-left: 1px solid #b7b7b7;
    border-right: 1px solid #b7b7b7;
    background: rgba(255, 255, 255, 0.7);
    padding-top: 30px;
}
.container-listas{   
    min-height: 575px;
    width: 90%;
    margin: 0 auto;
    box-shadow: 0 0 40px black;
    border-left: 1px solid #b7b7b7;
    border-right: 1px solid #b7b7b7;
    background: rgba(255, 255, 255, 0.7);
    padding-top: 40px;
    padding: 15px;
}

.container-abm{   
    min-height: 575px;
    width: 80%;
    margin: 0 auto;
    box-shadow: 0px 0px 40px black;
    border-left: 1px solid #b7b7b7;
    border-right: 1px solid #b7b7b7;
    background: rgba(255, 255, 255, 0.7);
    padding: 15px;
}

.btn-outline-warning:hover{
    color: white !important;
}

footer {
    width: 80%;
    margin: 0 auto;
    padding-top: 15px;
    color: rgba(0, 0, 0, 0.5);
}

.ng-invalid {
    border-color: rgba(250, 0,0, 0.25);
}